<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <img src="../assets/logo.png" alt="Cyberprecios logo" class="mr-2" height="30">
    <a class="navbar-brand" href="/">Cyberprecios</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-7" aria-controls="navbarNavDropdown-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-7">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <router-link to="/home" class="nav-link">Inicio</router-link>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Novedades</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-7">
            <a class="dropdown-item" href="#">Design</a>
            <a class="dropdown-item" href="#">Development</a>
            <a class="dropdown-item" href="#">Marketing</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavBar'
};
</script>

<style scoped>
</style>
